
<h1><%=t(:hospital_listing)%></h1>

<hr/>

<div class="pull-right">
<% new_label = t(:hospital_new)%>
<%= link_to new_label, new_hospital_path, :class=>"glyphicon glyphicon-plus"%>
</div>


<table border="1" class="table table-bordered table-condensed">
  <tr>
    <th><%=t(:hospital_header_name)%></th>
    <th><%=t(:hospital_header_address)%></th>
    <th width=80><span class="glyphicon glyphicon-edit"></span></th>
    <th width=40><span class="glyphicon glyphicon-warning-sign"></span></th>
  </tr>

<% edit_label = t(:edit)%>
<% destroy_label = t(:destroy)%>
<% @hospitals.each do |hospital| %>
  <tr>
    <td><%= hospital.name %></td>
    <td><%= hospital.address %></td>
    <td>
      <%= link_to t(:Show), hospital %>
      <%= link_to edit_label, edit_hospital_path(hospital) %>
    </td>
    <td>
          <%= button_to destroy_label, hospital, confirm: 'Are you sure?', :method=> :delete, :class=>"btn btn-primary btn-xs" %>
    </td>
  </tr>
<% end %>
</table>

<div class="digg_pagination">
    <%=will_paginate @hospitals%>
</div>

<br />

