
<!-- search box -->
<div>
  <form class="navbar-form">
    <div class="form-group">
      <input type="text" name="search" class="input-appended span10" placeholder="<%=t(:search_tip)%>"></input>
    </div>
    <button type="submit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span><%=t(:search)%></button>
  </form>
</div>

<div>
  <label><%=t(:list_doctor)%></label>
  <div class="pull-right">
    <% doctor_new=t(:doctor_new) %>
    <%= link_to doctor_new, new_doctor_path %>
  </div>
<div>

<table border="1" class="table table-bordered table-condensed">
  <tr>
    <th><%=t(:doctor_name)%></th>
    <th><%=t(:doctor_phone)%></th>
    <th><%=t(:doctor_job_title)%></th>
    <th><%=t(:doctor_department)%></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doctors.each do |doctor| %>
  <tr>
    <td><%= doctor.name %></td>
    <td><%= doctor.phone %></td>
    <td><%= doctor.job_title %></td>
    <td><%= doctor.department %></td>
    <td><%= link_to 'Show', doctor %></td>
    <% if @current_user.isAdmin() %>
      <td><%= link_to 'Review', edit_doctor_path(doctor) %></td>
    <% else %>
      <td>Reviewed</td>
    <% end %>
    <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
    <td><%= link_to 'Destroy', doctor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<div class="digg_pagination">
    <%=will_paginate @doctors%>
</div>

</table>

<br />

