<div>
<label>Listing doctors</label>

<div class="pull-right">
  <%= link_to 'New Doctor', new_doctor_path %>
</div>
<div>
<table border="1" class="table table-bordered table-condensed">
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doctors.each do |doctor| %>
  <tr>
    <td><%= doctor.name %></td>
    <td><%= doctor.phone %></td>
    <td><%= link_to 'Show', doctor %></td>
    <% if @current_user.isAdmin() %>
      <td><%= link_to 'Review', edit_doctor_path(doctor) %></td>
    <% else %>
      <td>Reviewed</td>
    <% end %>
    <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
    <td><%= link_to 'Destroy', doctor, confirm: 'Are you sure?', method: :delete %></td>

  </tr>
<% end %>
</table>

<br />

