
<!-- search box -->

  <form class="form-inline">
    <div class="form-group">
      <% search = params[:search]%>
      <% if search.blank? %>
        <input type="text" name="search" class="input-appended span10" placeholder="<%=t(:search_tip)%>"></input>
      <% else %>
        <input type="text" name="search" class="input-appended span10" placeholder="<%=t(:search_tip)%>" value="<%=search%>"></input>
      <% end %>
    </div>
    <button type="submit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span><%=t(:search)%></button>
  </form>

<hr/>
<div class="">
  <label><%=t(:list_doctor)%></label>
  <div class="pull-right">
    <% doctor_new=t(:doctor_new) %>
    <%= link_to doctor_new, new_doctor_path, :class=>"glyphicon glyphicon-plus"%>
  </div>
<div>

<table border="1" class="table table-bordered table-condensed">
  <tr>
    <th><%=t(:doctor_name)%></th>
    <th><%=t(:doctor_phone)%></th>
    <th><%=t(:doctor_job_title)%></th>
    <th><%=t(:doctor_certificate)%></th>
    <th><%=t(:doctor_overall_rate)%></th>
    <th width=80><span class="glyphicon glyphicon-edit"></span></th>
    <th width=40><span class="glyphicon glyphicon-warning-sign"></span></th>
  </tr>

<% @doctors.each do |doctor| %>
  <tr>
    <td><%= doctor.name %></td>
    <td><%= doctor.phone %></td>
    <td><%= doctor.job_title %></td>
    <td><%= doctor.certificate %></td>
    <td><%= doctor.overall_rate %></td>
    <td>
    <% show=t(:Show)%>
    <% edit=t(:Edit)%>
    <% destroy=t(:Destroy)%>
    <%= link_to show, doctor %>
    <%= link_to edit, edit_doctor_path(doctor) %>
    </td>
    <td>
    <%= button_to destroy, doctor, { confirm: 'Are you sure?', :method=>:delete, :class=>"btn btn-primary btn-xs", :onclick => "return confirm('确认删除？')", :remote => true }  %>
    </td>
  </tr>
<% end %>
<div class="digg_pagination">
    <%=will_paginate @doctors%>
</div>

</table>

<br />

